.button{
    font-family: 'Inter', sans-serif;
    width: fit-content;
    height: auto;
    padding: 12px 24px;
    color: var(--text);
    background-image: linear-gradient(to right, var(--brand1), var(--brand2));
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.1s ease, opacity 0.2s ease;
    box-shadow: none;
    outline: none;
}
.button2{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: auto;
    padding: 12px 24px;
    color: var(--text);
    background-image: linear-gradient(to right, var(--brand1), var(--brand2));
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.1s ease, opacity 0.2s ease;
    box-shadow: none;
    outline: none;
}


.button:active {
    transform: scale(0.96);
    opacity: 0.9;
}