.signup_container{
    background-image: url('../../assets/bg_images/signup.jpg');
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
@media (max-width: 1024px) {
    .signup_container {
        justify-content: center;
    }
    .signup_container2 {
        width: 90vw;
    }
}
.textp{
    font-family: 'Inter', sans-serif;
    color: var(--textWbg);
    font-size: 0.75rem;
    line-height: 0.9rem;
}
.signup_container2{

    height: 86vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.signup_island{
    background-color:white;
    padding: 1.5rem;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px
}
.signup_header2 { /* This is the class on your h1 now */
    font-family: 'Sansation', sans-serif;
    color: var(--textWbg);
    
    margin: 0; 
    padding-bottom: 0.5rem; /* Add only the exact space you want below it */
    font-size: 2.5rem;
    line-height: 1.2; 
}
.signup_header3{
    font-family: 'Sansation', sans-serif;
    color: var(--text2Wbg);
    font-size: 0.9rem;
    font-weight: 400;
}

.signup_form { 
    display: flex; 
    flex-direction: column; 
    /* This is the space BETWEEN the Email block and Password block */
    gap: 1rem; 
}

.input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* This is the tiny space between Label and Input */
    gap: 0.3rem; 
}

.signup_form_label {
    font-family: 'Inter', sans-serif;
    color: var(--textWbg);
    font-size: 0.8rem; /* Using rem is better than 'medium' */
    font-weight: 500;
}
.signup_form_input { 
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
    border-radius:10px; 
    border: 1px solid #ccc; 
}